/* 기본글꼴 - 웹폰트 */
html, body {
  font-family: Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
}
/* 박스사이징 재정이 */
*, *::before, *::after {
  box-sizing:border-box;
}
/* 반응형시에 자주 사용*/
/*body *, body *::before, body *::after {
  box-sizing:border-box;
}
.logo {
  margin:0;
}
/* 레이아웃 */
.header, .visual, .main, .slogan, .footer-inner {
  width: 940px;
  margin:0 auto;
  
}

/* 헤더 */
.header {
  background-color: yellow;
  height: 10vh;
  border:10px solid red;  
  padding:0 20px;

}
/* 비쥬얼 */
.visual {
  background-color: orange;
  height: 10vh;
}
/* 메인콘텐츠 */
.main {
  background-color: blue;
  height: 60vh;
  display:flex;
  flex-flow: row nowrap;
  justify-content: space-between; /* space-around정렬도 가능 padding값으로 조정 */
  padding:
  /*justify-content: space-evenly;  IE11미지원*/  

}

.group{
  
}
.group1 {
  background-color: pink;
  width:250px;
}
.group2 {
  background-color: lime;
  width:380px;

}
.group3 {
  background-color: salmon;
  width:190px;
  /*order:-1 /* 아이템 순서 바꾸기 가능. 기본이 0 */

}

/* 슬로건 */
.slogan {
  background-color: aqua;
  height: 10vh;
}
/* 푸터 */
.footer {
  background-color: purple;
  height: 10vh;
}