@import url(./fonts.css);
@import url(./fontello.css);
/* 기본글꼴 - 웹폰트 */
html, body {
  font-family: Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
}
html {
  font-size:10px;
}
body {
  font-size: 1.4rem;
  color:#000;
  background: url(./images/bg_flower.png) no-repeat 50% 0, #ccc linear-gradient(to bottom, #ccc 0%, #eee 30%, #fff 60%, #fff 100%);
}   /* 그라데이션이 밑에 깔려야 하기 때문에 백그라운드에 색깔은 그라디언트로 보내야 한다 또는 백그라운드 칼라를 밑에 독립적으로 사용 가능*/
/*숨김콘텐츠*/
.a11y-hidden {
  position:absolute;
  width:1px;  /*최소한의 크기는 가져야(존재햐여) 읽어줄수 있음*/
  height:1px;
  overflow:hidden;
  margin:-1px;
  clip: rect(1px, 1px, 1px, 1px);
  clip-path: polygon(0 0, 0 0, 0 0);   /* xy좌표를 0으로 - 브라우져 지원하는 않을 수 있음*/
}
/* 링크스타일 */
a {
  text-decoration: none;
  color:inherit; /*상속값을 쓴다*/
}
/* 박스사이징 재정이 */
*, *::before, *::after {
  box-sizing:border-box;
}
/* 반응형시에 자주 사용*/
/*body *, body *::before, body *::after {
  box-sizing:border-box;
}
.logo {
  margin:0;
}
/* 건너띄기 링크 */
.skip-nav {
  background-color: #000;
  text-align: center;
  color:#fff;
  position: absolute;
  top:0;
  left:0;
  width:100%;
  z-index:10;
}
.skip-nav a {
  display:inline-block;
  padding:10px;
  position:absolute;
}
.skip-nav a:focus {
  outline-offset: -4px;   /*포터스를 안쪽으로 들어오게 하는 방식 -padding 대신 사용 가능*/
  position:static;       /* absolute 원래로 변경*/
}
/* 레이아웃 */
.header, .visual, .main, .slogan, .footer-inner {
  width: 940px;
  margin:0 auto; 
}

/* 헤더 */
.header {
  position:relative;
  padding:0 30px;
  background-color: #fff;
  border-radius: 0 0 15px 15px;
  /* height: 10vh;  */
}

/* 로고 */
.logo {
  margin:0;
  font-size:1em;
  position:absolute;
  top:43px;
  left:65px;
}
.logo a {
  display:block;   /*탭키 이동시 아웃라인이 발생하지 않을 수 있음*/
}
.logo img {
  vertical-align: top;
}

/* 멤버 서비스 링크 */
.member-service {
  margin:0;
  padding-left:0;
  list-style-type: none;
  /* font-size:0;  공백만들기 해결책 */
  text-align:right;
  /*margin-right:-10px;*/   /**네거티브마진으로 마이너스 가능 padding은 안됨/
  position:relative;
  rightL-10px;    */
  transform:translateX(10px)   /*x축으로 10px 이동하라 모던브라우져에서만 사용 가능 익스안됨*/
}  
.member-service li {
  display:inline-block;
  padding:4px 0;
  text-transform: uppercase;   /*대문자로 변경*/
}
.member-service a {
  display: inline-block;    /*부모가 inline-block이라 같은걸로 준다*/
  padding:6px 10px;
}
/* .member-service li:focus {
  outline-offset: -4px;    포커스 박스를 지정 할 수 있다.
} */
/* 메인메뉴 */
.navigation{
  padding-bottom: 35px;
}
.menu{
  border-top: 2px solid #000;
  height: 47px;
  margin: 0;
  padding-left: 230px;
  list-style: none;
  background: #dd422a linear-gradient(to bottom, #db6c2b 1%,#dd422a 30%,#dd422a 70%,#db6c2b 100%);
  border-radius: 0 0 5px 5px;
}
.menu-item {
  float:left;
  border-left:2px solid #fff;
  position:relative;
}
.is-active .menu-button {
  color:#ff0;
  
}
.is-active .menu-button::after {
  content: "";
  display:block;
  background: #000;
  height:2px;
}
.menu-button {
  cursor:pointer;
  background:transparent;
  border:0;
  padding:0 23px;
  line-height:45px;
  font-weight:700;
  color:#fff;
  font-size:1.5rem;
  /*text-shadow: 1px 1px 0 #000, 2px 2px 0 #000, 3px 3px 0 #000, 4px 4px 0 #000;  /**/
  text-shadow: 1px 1px 1px #000, -1px -1px 1px #000;
}
.is-active .sub-menu {
  display:block;
}
.sub-menu {
  margin: 0;
  padding-left: 0;
  list-style: none;
  display: none;
  position: absolute;
  top: 47px;
  white-space: nowrap;
}
.sub-menu li {
  display: inline-block;
}
.sub-menu a {
  display:inline-block;
  padding:6px 10px;
}
.sub-menu a::before {
  content: "\f192";
  font-family: 'fontello';
  display: inline-block;
  width: 1em;
  margin-right: .2em;
}
.sub-menu a:focus {
  outline:none;
}
.sub-menu a:hover, .sub-menu a:focus {
  color:#f00;
}
.sub-menu a:hover::before,  .sub-menu a:focus::before {
   content: "\e800";
}
.menu-html, .menu-css, .menu-standards {
  left:0;
}
.menu-accessibility, .menu-qna, .menu-archive {
  right:0;
}
/* 비쥬얼 */
@keyframes moveEffect {
  0%{
    font-size:12px;
    color:rgba(0,0,0,0);
    transform: translate(0,0);
  }
  100%{
    font-size:24px;
    color:rgba(0,0,0,1);
    transform :translate(400px, 75px);
  }
}
@keyframes fadeEffect {
  0%{opacity: 1;}
  100%{opacity: 0;}
}
.visual::before {
  background: url(./images/ani_flower_01.png) no-repeat 0 -10px, url(./images/ani_flower_02.png) no-repeat 600px 0;
}    /* 백그라운드가 두개 가능*/ 
.visual::after {
  background: url(./images/ani_flower_03.png) no-repeat 300px , url(./images/ani_flower_04.png) no-repeat 800px 10px;
  animation-delay: 1000ms;   /*지연시키는 태그*/
}    /* 두번째가 위로 오지 않고, 밑으로 간다 순차적으로 보임(겹치게 했을때)*/ 
.visual-text {
  position:relative;
  z-index: 10;
  animation-name:moveEffect; /* 애니메이션 이름*/
  animation-duration: 2000ms;   /* 2초*/
  animation-fill-mode: forwards; /* 애니메이션 횟수*/
  font-family: Georgia, 'Times New Roman', Times, serif;
  display:inline-block;  /*상자가 이동하면서 블럭을 인라인블럭으로 바꾸서 위드값을 줄여주는 효과*/
}
.visual {
  height: 120px;
  position: relative;
}
.visual::before, .visual::after {
  content:"";
  position:absolute;
  top:0;
  left:0;
  width:100%;
  height:100%;
  animation: fadeEffect 2000ms infinite alternate;/*네임, 시간, 반복여부, 방향*/
}
/* 메인콘텐츠 */
/* flex를 활용한 메인콘텐츠 배치 */
/*.main {
  background-color: blue;
  height: 60vh;
  display:flex;
  flex-flow: row nowrap;
  justify-content: space-between; /* space-around정렬도 가능 padding값으로 조정 */
  /*padding: 30px 15px;
  /*justify-content: space-evenly;  IE11미지원*/  

  /* floot을 활용한 메인콘텐츠 배치 */
.main {
  display:flow-root;   /*float 해결* /* overflow: hidden과 관련되어 있음 *//* 부모요소에 clearfix를 주는 방법을 많이 사용 */
  min-height:450px;
  padding:30px 15px;
  background:#fff;
  border-radius: 15px 15px 0 0;
}
/* .clearfix::after {
  content: "";
  background-color: red;
  clear: both;
  display: block;
} */
.group {
  margin:0 15px;
  float:left;
}
.group1 {
  background-color: pink;
  width:250px;
}
.group2 {
  background-color: lime;
  width:380px;

}
.group3 {
  background-color: salmon;
  width:190px;
  /*order:-1 /* 아이템 순서 바꾸기 가능. 기본이 0 */
}
.clearfix {
  clear:both;
}

/* 슬로건 */
.slogan {
  background-color: aqua;
  height: 10vh;
}
/* 푸터 */
.footer {
  background-color: purple;
  height: 10vh;
}